<header>
  <div>
    Search IMDB database
  </div>
  <app-form [source]="searchForm" (data$)="search$.next($event)"></app-form>
</header>

<app-modal [opened]="modal.opened">
  <app-form [source]="editForm" [hydrate]="selected$ | async" (data$)="update$.next($event)"></app-form>
</app-modal>

<section>
  <p *ngIf="(data$ | async).length === 0" class="warning">No results</p>
  <p *ngFor="let movie of data$ | async" class="selectable" (click)="!modal.opened && selected$.next(movie)">
    <span class="green">[{{ movie.startYear }}]</span> - <span class="blue"><strong>{{ movie.originalTitle }}</strong></span> | {{ movie.genres }}
  </p>
  <p *ngIf=""></p>
</section>